body {
    font-family: Arial;
    background-color: #f4f6fb;
    text-align: center;
    padding: 40px;
}

form {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #1c2bc0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#resultado {
    margin-top: 30px;
}